<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.contactpigeon.fbsdkiosplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>fbsdkiosplugin</name><js-module name="fbsdkiosplugin" src="www/fbsdkiosplugin.js"><clobbers target="cordova.plugins.fbsdkiosplugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="fbsdkiosplugin"><param name="ios-package" value="FBSDKPlugin" /></feature></config-file><source-file src="src/ios/FBSDKPlugin.swift" /><source-file src="src/ios/SDKCPConnector.swift" /><dependency id="cordova-plugin-add-swift-support" version="1.7.2"/></platform></plugin>
